<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>

<% if params[:answer_id].nil? %>
  <%= link_to 'Delete', user_question_comment_path(@user, @question, @comment), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', user_question_path(@user, @question) %>
<% else %>
  <%= link_to 'Delete', user_question_answer_comment_path(@user, @question, @answer, @comment), method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', user_question_answer_comment_path(@user, @question, @answer) %>
<% end %>
