<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<div class="comment-admin">
  <% if params[:answer_id].nil? %>
    <%= link_to 'Edit', edit_user_question_comment_path(@user, @question) %> |
    <%= link_to 'Back', user_question_path(@user, @question) %>
  <% else %>
    <%= link_to 'Edit', edit_user_question_answer_comment_path(@user, @question, @answer) %> |
    <%= link_to 'Back', user_question_answer_path(@user, @question, @answer) %>
  <% end %>
</div>
