<div>
  <strong>Answer: </strong><%= answer.body %>
</div>
<div>
  <small>Views: <%= answer.view_count %></small>
  <small><em>Submitted By: </em><%= answer.user.name %></small>
</div>

<div>
  <%= link_to 'Show', user_question_answer_path(@user, @question, answer) %>
</div>
<div class="answer-admin">
    <%= link_to 'Edit', edit_user_question_answer_path(@user, @question, answer) %> |
    <%= link_to 'Delete', user_question_answer_path(@user, @question, answer), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
